.desktop-nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

@media (max-width: 1150px) {
  .desktop-nav {
    right: 10px;
  }
}

.active .dot {
  background: var(--textSpecial);
}

.desktop-nav-items li::before,
.mobile-nav-items li::before {
  content: "";
}

.desktop-nav-items li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
}

.desktop-nav-items a {
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none; */
  cursor: pointer;
  max-width: 30px;
  order: 2;
}

.dot {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--dotBg);
  transition: transform 0.2s, background-color 0.5s;
  transform-origin: 50% 50%;
  display: inline-block;
  z-index: 150;
  /* order: 2; */
}

.dot-label {
  position: relative;
  top: 3px;
  padding-right: 0.8em;
  color: #6e6e6e;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  display: none;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  transform-origin: 100% 50%;
  order: 1;
  user-select: none;
}

.desktop-nav-items a:hover {
  transform: scale(1.6);
}

.desktop-nav-items a:hover + span.dot-label {
  display: block;
  opacity: 1;
  color: var(--textSpecial);
}

/* Mobile nav */
.mobileNav-wrapper .burger {
  position: fixed;
  font-size: 10px;
  right: 30px;
  top: 30px;
  display: none;
  z-index: 200;
}

.mobileNav-wrapper .burger .burger-lines,
.mobileNav-wrapper .burger .burger-lines::after,
.mobileNav-wrapper .burger .burger-lines::before {
  background: var(--textSpecial);
}

@media (max-width: 850px) {
  .desktop-nav-items {
    display: none;
  }
  .mobileNav-wrapper .burger {
    display: block;
  }
}
